<h1> <%= @meal.name %> </h1>

<%= image_tag @meal.imageURL, { width: "600", class: "center-img imageBoxShadow" } %>

<h2>Cooking Instructions</h2>
  <p> <%= @meal.cooking_instructions %> </p>

  <p>Likes: <%= @meal.likes %> </p>
  <p>Dislikes: <%= @meal.dislikes %> </p>

  <p>From new class</p>
  <ul>
    <% @ingredient_details.each do |ingredient| %>
    <li>
      <%= ingredient.name %>
      <%= ingredient.quantity %>
      <%= ingredient.measurement %>
    </li>
    <% end %>
  </ul>
